.education-blog {
  display: flex;
  flex-direction: column;
  position: relative;
}

.education-title {
  text-align: center;
  font-family: "El Messiri", sans-serif;
  font-size: 38px;
  font-weight: 500;
  padding-top: 10px;
  color: rgb(145, 16, 16);
}

.education-information {
  display: flex;
  position: relative;
  justify-content: center;
}

.education-information__image {
  width: 50%;
  height: 40%;
  margin: -15px 65px;
}

.education-information__text {
  padding-top: 75px;
  width: 370px;
  text-align: inherit;
  color: rgb(19, 7, 7);
  font-family: "El Messiri", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
